@using MRT.Data.FormModels
@using MRT.Data

<h3>New Competitor</h3>
<div class="form-group col-xl-6">
    <EditForm Model="@competitorEntry" OnSubmit="@HandleCompetitorSubmit">
        <label class="form-text" for="name">Competitor Name</label>
        <InputText class="form-control" id="name" @bind-Value="competitorEntry.Name"/>
        <br/>
        <button class="btn btn-primary" type="submit">Add</button>
    </EditForm>
</div>


@code {
    [Parameter]
    public EventCallback onSubmitAction { get; set; }

    Competitor competitorEntry = new();

    private async void HandleCompetitorSubmit()
    {
        var record = competitorEntry.ToRecord();
        competitorEntry.Name = "";
        PersistService.AddCompetitor(record);
        
        await onSubmitAction.InvokeAsync();
    }
}