@using MRT.Data.FormModels
@using MRT.Data

<h3>New Team</h3>
<div class="form-group col-xl-6">
    <EditForm Model="@teamEntry" OnSubmit="@HandleTeamSubmit">
        <label class="form-text" for="name">Team Name</label>
        <InputText class="form-control" id="name" @bind-Value="teamEntry.Name"/>
        <br/>
        <button class="btn btn-primary" type="submit">Add</button>
    </EditForm>
</div>

@code {
    [Parameter]
    public EventCallback onSubmitAction { get; set; }
    
    Team teamEntry = new();


    private async void HandleTeamSubmit()
    {
        var record = teamEntry.ToRecord();
        teamEntry.Name = "";
        PersistService.AddTeam(record);
        
        await onSubmitAction.InvokeAsync();
    }
}