@page "/championships"
@using MRT.Data
@using MRT.Data.ResultModels
@using MRT.Pages.Links
@using MRT.Pages.Tables
@using Microsoft.AspNetCore.WebUtilities
@inject ResultsService ResultsService
@inject NavigationManager NavigationManager

<PageTitle>Championships</PageTitle>

<h1>List of Championships</h1>

<p>This component provide a list of championships that have information recorded in MRT.</p>

@if (organiser != null)
{
    <p>Filtering championships by:</p>
    <OrganiserTable organisers="@(new [] {organiser})" />
}

@if (championships == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ChampionshipTable championships="championships" />
}

@code {
    [Parameter]
    public Guid OrganiserId { get; set; }
    
    private Championship[]? championships;
    private Organiser? organiser;

    protected override async Task OnInitializedAsync()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
        NavigationManager.LocationChanged += OnLocationChanged;
        
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("organiserId", out var _organiserId))
        {
            OrganiserId = Guid.Parse(_organiserId);
        }
        
        organiser = await ResultsService.GetOrganiserAsync(OrganiserId);
        championships = await ResultsService.GetChampionshipsAsync(organiser);
    }
    
    protected override async Task OnParametersSetAsync()
    {
        await OnInitializedAsync();
    }
    
    private async void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        OrganiserId = Guid.Empty;
        await OnInitializedAsync();
        StateHasChanged();
    }
}
