@page "/events"
@using MRT.Data
@using MRT.Data.ResultModels
@using MRT.Pages.Links
@using MRT.Pages.Tables
@using Microsoft.AspNetCore.WebUtilities
@inject ResultsService ResultsService
@inject NavigationManager NavigationManager

<PageTitle>Events</PageTitle>

<h1>List of Events</h1>

<p>This component provides a list of events that have information recorded in MRT.</p>

@if (championship != null || location != null)
{
    <p>Filtering events by:</p>
    @if (championship != null)
    {
        <ChampionshipTable championships="@(new[] {championship})"/>
        <br/>
    }
    @if (location != null)
    {
        <LocationTable locations="@(new[] {location})"/>
    }
}

@if (events == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EventTable events="events"/>
}


@code {
    [Parameter]
    public Guid ChampionshipId { get; set; }
    public Guid LocationId { get; set; }

    [Inject]
    public IJSRuntime JsRuntime { get; set; }
    
    private Event[]? events;
    private Championship? championship;
    private Location? location;

    protected override async Task OnInitializedAsync()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
        NavigationManager.LocationChanged += OnLocationChanged;
        
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("championshipId", out var _championshipId))
        {
            ChampionshipId = Guid.Parse(_championshipId);
        }
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("locationId", out var _locationId))
        {
            LocationId = Guid.Parse(_locationId);
        }
        
        championship = await ResultsService.GetChampionshipAsync(ChampionshipId);
        location = await ResultsService.GetLocationAsync(LocationId);
        events = await ResultsService.GetEventsAsync(championship, location);
    }

    protected override async Task OnParametersSetAsync()
    {
        await OnInitializedAsync();
    }
    
    private async void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        ChampionshipId = Guid.Empty;
        LocationId = Guid.Empty;
        await OnInitializedAsync();
        StateHasChanged();
    }
    
}
