<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MRT: LMS</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="submitdata">
                <span class="oi oi-cloud-upload" aria-hidden="true"></span> Submit Data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dataedit">
                <span class="oi oi-pencil" aria-hidden="true"></span> Edit Data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dataentry">
                <span class="oi oi-plus" aria-hidden="true"></span> Add Data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="organisers">
                <span class="oi oi-people" aria-hidden="true"></span> Organisers
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="locations">
                <span class="oi oi-map-marker" aria-hidden="true"></span> Locations
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="championships">
                <span class="oi oi-spreadsheet" aria-hidden="true"></span> Championships
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="events">
                <span class="oi oi-list" aria-hidden="true"></span> Events
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="races">
                <span class="oi oi-document" aria-hidden="true"></span> Races
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="competitors">
                <span class="oi oi-person" aria-hidden="true"></span> Competitors
            </NavLink>
        </div>
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
